.Marquee{
    width: 100%;
    padding: 5px 0px;
    font-size: 18px;
}

.LoginButton{
    width: 150px;
    padding: 5px 0px;
    float: right;
    background-color: rgb(194, 0, 0);
    border: 2px solid rgb(201, 201, 201);
    font-weight: bold;
    font-size: 16px;
    color: white;
    transition: all .4s ease-in-out;
}

.LoginButton:hover{
    color: greenyellow;
    border-radius: 25px;
}